@charset "UTF-8"

p{
    font-family: Arial, Helvetica, sans-serif;
}
div > img{
    display: none
}
div:hover > img{
    display: block;
    width: 300px;
    height: 300px;
}
.nome{
    color: red;
}